body {
    font-family: Arial, Helvetica, sans-serif;
}
.schedule {
    caption-side: bottom;
    border-spacing: 5px;
    border-top: #000;

}
.schedule thead tr {
    background-color:rgb(15, 15, 145);
    color: white;
}
/* .grayish {
    background-color: #888;
} */
.schedule tbody tr:nth-child(even) { /*{ pseudo class */
    border-bottom: thin solid #000;
}
.schedule tfoot tr {
    background-color: aquamarine;
    color: white;
}
.num {
    vertical-align: top;
}