body {
    font-family: Arial, Helvetica, sans-serif;
}
.form-row, .check-row {
    display: flex;
    gap: 10px;
    margin: 15px 0;
}
.form-row label {
    width: 150px;
    text-align: right;
}
.form-row input:not([type='submit']), .form-row select, .form-row textarea {
    padding: 5px, 10px;
    background-color: antiquewhite;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
}
.form-row input:not([type='submit']):focus, .form-row select:focus, .form-row textarea:focus {
    padding: 5px, 10px;
    background-color: white ;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
}
.form-row input[type='submit'] {
    background-color: blueviolet;
    color: azure;
    padding: 10px;
}
.spacer {
    width: 150px;
    text-align: right;
}
fieldset{
    background-color: aliceblue;
    width: 80%;
    margin: auto;
}
legend {
    background-color: rgb(255, 255, 84);
    color: black;
    padding: 20px;
}

@media ONLY screen AND (max-width: 400px) {
    .form-row, .check-row {
        flex-direction: column;
    }
    fieldset {
        width: 95%;
    }

    .form-row label, .spacer {
        text-align: left;
    }
}