body {
    font-family: Arial, Helvetica, sans-serif;
}
.content {
    display: flex;
    flex-direction: row-reverse;
    padding-right: 20px;
}
.table {
    padding: 20px;
    width: 200%;
    caption-side: bottom;
    border-style: double;
    border:#000;
}
.table thead tr {
    background-color:rgb(119, 119, 118);
    color: white;
}
.border {
    border:thick #000;
}
.data {
    background-color: #f6f6f6;
}
.border tr:nth-child(even) { /*{ pseudo class */
    border-bottom: thick solid #000;
}
.table tfoot tr {
    background-color: rgb(250, 241, 206);
    color: black;
}
footer {
    font-size: small;
}