body {
      font-family: Arial, sans-serif;
      margin: 20px;
      background: #f3f3f3;
}

h1, h2 {
    text-align: center;
    margin-bottom: 15px;
}

#map {
    height: 500px;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 40px;
}

.image-container {
    text-align: center;
    margin-top: 30px;
}
.popup-img {
    width: 200px;
    border-radius: 8px;
}
footer {
    font-size: small;
    text-align: center;
}